CARETV_HOST=0.0.0.0
CARETV_SERVER_PORT=4010
CARETV_WEB_PORT=4020
CARETV_RUNTIME_DIR=C:\CareTV\runtime
CARETV_CHROME_PROFILE_DIR=C:\CareTV\chrome-profile
CARETV_TIMEZONE=America/Los_Angeles
CARETV_SERVER_URL=http://w11.lan:4010
CARETV_APPLIANCE_ID=local-appliance
CARETV_APPLIANCE_NAME=Local Appliance
CARETV_APPLIANCE_POLL_MS=1000
CARETV_APPLIANCE_HEARTBEAT_MS=5000
CARETV_APPLIANCE_PLAYBACK_OBSERVE_MS=1000
CARETV_APPLIANCE_REQUEST_TIMEOUT_MS=10000
CARETV_APPLIANCE_MEDIA_DIR=C:\CareTV\media
CARETV_APPLIANCE_MEDIA_SCAN_MS=30000
